.input-check input {
    margin-left: 10px !important;
}

.card-footer {
    text-align: center !important;
}

.btn-view i:hover{
    color: #17a2b8 !important;
}

.btn-add i:hover{
    color: #28a745 !important;
}

.btn-edit i:hover{
    color: #ffc107 !important;
}

.btn-delete i:hover{
    color: #fa4251 !important;
}

.table-data-feature a + a{
    margin-left: 5px !important;
}

.modal-backdrop{
    z-index: 0 !important;
}

.modal-backdrop.show{
    opacity: 0;
}

.modal{
    top: 78px !important;
    /* left: 140px !important; */
}

.w-640{
    width: 640px !important;
}

.messages-alert {
    padding-left: 5px !important;
}

.unactive{
    background: #ff4b5a !important;
}

.tr-shadow{
    border: 1px solid #dcdcdc !important;
}

@media(max-width:768px) {
    .w-640{
        width: 450px !important;
        height: auto !important;
    }

    .modal{
        top: 30% !important;
        /* left: 140px !important; */
    }
    
}

/** Custom Pagination **/
.nav-pagination {
    font-size: 16px;
    line-height: 1.25;
    color: #373736;
    font-weight: 700;
    margin-bottom: 60px;
    text-align: center;
    margin-top: 40px;
}

.pagination {
    vertical-align: middle;
    margin: 0 13px;
}

.pagination .icon {
    height: 13px;
    width: 8px;
}

.pagination>li>a,
.pagination>li>span {
    border-color: transparent;
    color: #a9a9a7;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 22px;
    width: 32px;
    height: 32px;
    display: block;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    line-height: 30px;
    padding: 0;
    font-weight: 700;
}

.pagination>.disabled {
    display: none;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>li>a:focus,
.pagination>li>a:hover {
    border-color: #f74c09;
    background: #f74c09;
    color: #fff
}

.pagination>li>a:focus .icon,
.pagination>li>a:hover .icon {
    fill: #fff;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span,
.pagination>li:first-child>a,
.pagination>li:first-child>span {
    border-radius: 50%;
}

.active{
    color: #f74c09 !important;
}

.img-fluid {
    height: 200px!important;
    object-fit: cover!important;
    margin-top: 10px!important;
}

.card-img-top {
    height: 200px!important;
    object-fit: cover!important;
}

.note{
    color: red;
}

/** Custom Pagination **/
.custom-table thead th{
    padding: 15px 15px !important;
}

.custom-table tbody td{
    padding: 25px 12px !important;
}

.custom-table-data .table td {
    padding-left: 10px !important;
}

.display_data p {
    font-size: 20px;
    margin-bottom: 0;
}

.btn-outline-info:hover{
    color: #fff !important;
    background: #3868cd !important;
    border-color: #3868cd !important;
}